*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
    
}

body{
     background-color: #101A20 !important;
}
.navbar-toggler{
     margin-left: 300px; 
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar{

    position: sticky !important;
    top: 0 !important;  

    background-color: #14232B !important;
    background-color: rgba(20, 35, 43, 0.85) !important;

}
.container-fluid a:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}
.links:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}
.navbar a{
    color: white !important;

} 

.intro-section{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
 
 
}
.profile-pic{
    flex-shrink: 0;
}

.about{
    flex: 1;
    min-width: 300px;
    margin-bottom: 150px;
    padding: 50px;
    color: white;
    font-family: sans-serif;
    

}
@media(max-width:768px){
    .intro-section{
        flex-wrap: wrap;
    }
    .profile-pic{
        flex-shrink: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }

}

 
.about h1{
  
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.profile-pic img{


    width: 100%;
    max-width: 450px;
    /* height: 450px; */
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.15);
    object-fit: cover;
    margin-bottom: 50px;
    margin-top: 50px;
}
.profile-pic img:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}
.btn{
   
    border: 2px solid black;
    border-radius: 50px !important;
    padding: 10px !important;
    margin-top: 50px;
}
.btn1{
    background-color: rgb(7, 111, 222) !important;
    color: white !important;
    font-weight: bold !important;
}
.btn2{
    font-weight: bold !important;

}
.links{
    margin-top: 30px;
 
    
}
.foter{
    color: white !important;
   
    background-color: #101A20 !important;

}
/* About Page/// */
.abt{
    color: white;

}
.ab {
    display: flex;
    align-items: center;
    justify-content: center;
}
.abt-para p{
    padding: 30px;
    margin-left: 250px;
 
    border-radius: 50px;
    width: 800px;

}

.profile-pic2{
    flex-shrink: 0;
}
.about2{
    flex-shrink: 1;
    color: white;
    padding: 30px;
}
.profile-pic2 img{
    
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.15);
    object-fit: cover;


}
@media(max-width:768px){
    .intro-section{
        flex-shrink: 1;

    }
    .profile-pic2{
        flex-shrink: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
 
}
.profile-pic2 img:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}
.all-skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;

}
.skils-box{
   
    border: 1px solid #075b80;
    border-radius: 10px;
    margin: 20px;


 
}
.skils-box:hover{
   
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.15);
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;

}
.box:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
    /* box-shadow: 0px 4px 10px rgb(63, 63, 63); */
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.15);
}
 p:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}
 h1:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}
 h4:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}
h4{
    margin-left: 15px;
    align-items: center;
}

.men-skils{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;
}

.box{
 
    border-radius: 10px;
    padding: 10px;
 
 
  
    
}
.dropdown-menu{
    color: rgb(3, 3, 3) !important;
   background-color: rgb(32, 33, 36) !important;
}
.dropdown-item{
    color: rgb(3, 3, 3) !important;
    background-color: rgb(32, 33, 36) !important;
}


.msg-box1{
 
    width: 450px;
    height: 450px;
    border-radius: 30px;
     box-shadow: 0 0 20px rgba(0, 150, 255, 0.15);
    object-fit: cover;
    margin: 50px;

 
    
}
.msg-box1 h3,p{
    margin: 20px;
    


}
.msg-box2 h3,p{
    margin: 20px;
    


}
.ff{
    padding: 30px;}
.textarea1{
    margin-top: 15px;
   
}  
.ff1{
    padding: 30px;}
.textarea1{
    margin-top: 15px;
   
}  
.btnmsg{
    margin-top: 30px !important;
} 
.con{
  
    margin-left: 520px;
} 
#pp{
    margin-left: 350px;
}
.msg-box2{
  
    width: 450px;
    height: 450px;
    border-radius: 30px;
   
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.15);

    margin: 50px;
 
   
}
.info-box{
    display: flex;
    /* gap: 50px; */
    
   
}
.btn-project{
    margin-left: 330px;
    margin-bottom: 13px;
  
}
.project_headings{
    margin-top: 40px;
    margin-left: 50px;

}
.pro_box p{
   
    margin-bottom: -40px;
    
}
.sug-box{
    margin-left: 450px;
    height: 300px;
}
@media(max-width:768px){

    .abt-para{
        margin-left: -250px;
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap;

   
    }
    .skils-fix{
         margin: 0 auto;
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap;
   
    }
    .ab{
        display: flex;
        align-items: center;
        justify-content: center;
        

    }
    .all-skills{

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}
    .skils-box{
    width: auto;
    margin: 20px;
    border: 1px solid #075b80;
    border-radius: 10px;

}
.men-skils{
    display: grid;
    grid-template-columns:1fr;
    gap: 10px;
    margin: 20px;

}
    .btn-project{
        margin-left: 20px;
        margin-bottom: 13px;
    }

    .project_headings{
        margin-left: 20px;
        margin-top: 20px;
    }
    .project-box{
    margin: 20px;
    border-radius: 10px;
    }
    .all-project-box{
     margin: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #075b80;
    }
    .pro_box{
        width: 100%;
        margin: 0;
    
    }
    .pro_box p{
        width: auto;
        margin: 10px;
        padding: 10px;
        overflow-wrap: break-word;
        word-wrap: break-word;

    }
    .info-box{
        display: flex;
        flex-wrap: wrap;
    }

    .btnmsg{
    margin-top: 3px !important;
   
}

}